@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #6B0F1A; /* primary mehroon - solid color */
  color: #FAF9F6;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE and Edge */
body {
  -ms-overflow-style: none;
}
